/* body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  place-items: center;
} */

body{
  background-color: #000 !important;
  margin: 0;
  padding: 0;
}

.ant-steps-item-title{
  color: #fff !important;
}

.ant-steps .ant-steps-item-wait .ant-steps-item-icon >.ant-steps-icon{
  color: #ddd !important;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-steps .ant-steps-item-wait .ant-steps-item-icon{
  background-color: #153a7f;
}

.ant-spin-text{
  color: #fff !important;
  font-size: 20px !important;
}

.ant-spin-dot-item{
  background-color: #fff !important;
}